<div class="container">
<h1>餐廳後台</h1>
<%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>餐廳</th>
      <th>內容</th>
      <th>編輯</th>
      <th>刪除</th>
    </tr>
  </thead>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.id %></td>
    <td><%= restaurant.name %></td>
    <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>
  </tr>
  <% end %>
</table>
<%= paginate @restaurants %>
<br>
</div>

