<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>人氣餐廳 <small>(收藏數最高)</small> </h1>
      <hr>
      <div>
        <% @ranking_restaurants.each do |restaurant| %>
          <div>
            <% if restaurant.image? %>
              <%= image_tag restaurant.image %>
            <% else %>
              <span class="glyphicon glyphicon-picture"></span>
            <% end %>
          <div>
          <div>
            <h4><%= link_to restaurant.name, restaurant_path(restaurant)%>
            <span>收藏數:<%= restaurant.favorites_count %></span>
            <p><%= truncate(restaurant.description, length: 200)%></p>
            <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary"%>
            <%= render partial: "shared/favorite", locals: { restaurant: restaurant } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
